{{ if .Site.Params.projects.enable | default false }}
{{- $projects := .Site.Language.Params.projects | default .Site.Params.projects -}}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $projects.title | default .Site.Params.projects.title | default (i18n "projects") }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range $projects.items | default .Site.Params.projects.items }}
            <div class="col-lg-6 col-md-6 my-3">
                <div class="card my-3 h-100 project-card-noimg" title="{{ .title }}">
                    <div class="card-body bg-transparent p-4">
                        <h5 class="card-title bg-transparent mb-2">{{ .title }}</h5>
                        <div class="pb-2 bg-transparent">
                            {{ range .badges }}
                            <span class="badge badge-secondary me-1">{{ . }}</span>
                            {{ end }}
                        </div>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                    {{ if or (.links) (.featured) }}
                    <div class="card-footer py-3">
                        {{ range .links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        {{ if .featured }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .featured.link }}" target="_blank">
                                {{ .featured.name }}
                            </a>
                        </span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
